# ДЗ 2.1 
Шергалис Донат, 3530903/70301
Вариант 39.

In [1]:
var = 39

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools
from operator import itemgetter 

%matplotlib inline

In [3]:
data = pd.read_csv('data/data.csv', index_col=0).astype(float)
data.head()

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 21,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30
User 1,-1.0,4.0,1.0,5.0,-1.0,-1.0,-1.0,1.0,3.0,-1.0,...,2.0,4.0,-1.0,-1.0,3.0,4.0,-1.0,2.0,4.0,1.0
User 2,4.0,5.0,2.0,3.0,3.0,4.0,-1.0,5.0,3.0,2.0,...,-1.0,2.0,-1.0,3.0,1.0,5.0,-1.0,5.0,2.0,2.0
User 3,4.0,2.0,5.0,4.0,1.0,5.0,-1.0,3.0,5.0,2.0,...,4.0,-1.0,5.0,4.0,5.0,1.0,2.0,1.0,-1.0,3.0
User 4,5.0,-1.0,2.0,-1.0,-1.0,2.0,4.0,3.0,2.0,3.0,...,-1.0,2.0,2.0,2.0,2.0,5.0,3.0,2.0,5.0,5.0
User 5,4.0,3.0,3.0,3.0,5.0,3.0,3.0,4.0,5.0,2.0,...,4.0,5.0,2.0,-1.0,3.0,5.0,1.0,-1.0,5.0,-1.0

In [4]:
movie_names = pd.read_csv('data/movie_names.csv', index_col=0, names=['id', 'name'], squeeze = True)
movie_names.head()

id
Movie 1     The Shawshank Redemption
Movie 2                The Godfather
Movie 3       The Godfather: Part II
Movie 4              The Dark Knight
Movie 5                 12 Angry Men
Name: name, dtype: object

In [5]:
weekdays = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
context_day = pd.read_csv('data/context_day.csv', index_col=0)
context_day.head()

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 21,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30
User 1,-1,Thu,Tue,Mon,-1,-1,-1,Tue,Sun,-1,...,Thu,Thu,-1,-1,Sun,Sat,-1,Wed,Wed,Thu
User 2,Mon,Wed,Mon,Sat,Sat,Thu,-1,Mon,Fri,Thu,...,-1,Sun,-1,Mon,Mon,Fri,-1,Sun,Tue,Wed
User 3,Tue,Wed,Sat,Tue,Sat,Mon,-1,Thu,Wed,Thu,...,Tue,-1,Wed,Thu,Tue,Thu,Wed,Wed,-1,Sun
User 4,Mon,-1,Wed,-1,-1,Sun,Sat,Mon,Mon,Wed,...,-1,Sun,Fri,Sat,Thu,Sat,Fri,Fri,Sat,Sun
User 5,Thu,Fri,Wed,Fri,Mon,Thu,Sat,Tue,Thu,Fri,...,Fri,Fri,Mon,-1,Wed,Mon,Sat,-1,Wed,-1

In [6]:
# h = дома
# c = кинотеатр
# v = в гостях
context_place = pd.read_csv('data/context_place.csv', index_col=0)
context_place.head()

,Movie 1,Movie 2,Movie 3,Movie 4,Movie 5,Movie 6,Movie 7,Movie 8,Movie 9,Movie 10,...,Movie 21,Movie 22,Movie 23,Movie 24,Movie 25,Movie 26,Movie 27,Movie 28,Movie 29,Movie 30
,,,,,,,,,,,,,,,,,,,,,
User 1,-1,h,h,c,-1,-1,-1,v,h,-1,...,h,c,-1,-1,c,c,-1,v,h,c
User 2,v,v,v,v,h,c,-1,v,h,c,...,-1,c,-1,c,h,v,-1,v,v,c
User 3,v,h,c,c,c,c,-1,h,c,v,...,v,-1,v,v,h,h,h,v,-1,v
User 4,v,-1,h,-1,-1,h,v,v,c,h,...,-1,v,h,h,c,v,c,v,v,c
User 5,c,c,c,c,v,h,v,v,c,h,...,v,c,v,-1,h,c,v,-1,h,-1

In [7]:
films_count = len(data.T)
films_names = data.columns

users_count = len(data)
users_names = data.T.columns

user_name = users_names[var - 1]
# assert user_name == 'User 39'

# Получить строчку для нашего пользователя
def for_user(u_name = user_name, data = data):
    return data.T[u_name]

## Задание 1. 

Для заданного пользователя (совпадает с вашим номером в таблице) рассчитать оценки для всех фильмов, которые он не оценил.

В качестве метрики сходства использовать метрику косинуса:  
$ sim_{u,v} = \frac { \sum_i{u_i v_i} } { \sum_i{u_i^2} * \sum_i{v_i^2} }  $

$ u_i $ - оценка пользователя u для фильма i,  
$ u_i $ - оценка пользователя v для фильма i

In [8]:
# sim для пары пользователей
def get_sim(u_name, v_name = user_name, data = data):
    u = for_user(u_name, data)
    v = for_user(v_name, data)
    return calc_sim(u, v)

# sim для пары массивов
def calc_sim(u, v):
    sum_top = 0
    sum_bottom_first = 0
    sum_bottom_second = 0
    
    for i in range(len(u)):
        if u[i] > 0 and v[i] > 0:
            sum_top += u[i] * v[i]
            sum_bottom_first += u[i] ** 2
            sum_bottom_second += v[i] ** 2

    return sum_top / (np.sqrt(sum_bottom_first) * np.sqrt(sum_bottom_second))

In [9]:
# test calc_sim
a = [3, 5, -1,  5]
b = [3, 4,  5, -1]
expected = ((3 * 3) + (5 * 4)) / (((3**2 + 5**2)**0.5) * ((3**2 + 4**2)**0.5))
actual = calc_sim(a, b)
assert expected - actual < 1e-09
assert 1 - calc_sim(a, a) < 1e-09
# /test

In [10]:
sim = {}
for u_name in users_names:
    sim[u_name] = get_sim(u_name)

sorted_sim = sorted(sim.items(), key = itemgetter(1), reverse = True)[1:]
# Самые похожие пользователи:
sorted_sim[:4]

[('User 14', 0.8736302499711169),
 ('User 34', 0.8625023595000594),
 ('User 16', 0.855885765182213),
 ('User 20', 0.850951776987698)]

Рассчёт оценки $ r_{ui} $ пользователя $ u $ для фильма $ i $ :  
$ r_{ui} = r_u + \frac{ \sum_v^k{sim_{vu}} \cdot (r_{vi} - r_v) }{ \sum_v^k {|sim_{vu}|} } $  

$ r $ - рассчитываемая оценка,  
$ r_u $ - средняя оценка у пользователя u,  
$ r_v $ - средняя оценка у пользователя v,   
$ r_{vi} $ - оценка пользователя v для фильма i,  
$ sim_{vu} $ - значение метрики сходства для пользователей u и v

In [11]:
def get_rate(film_name, u_name = user_name):
    return data

# 0..k имён пользователей с оценками для film_name с наибольшими sim
def get_k_closest_for_film(film_name, sorted_sim = sorted_sim, k = 4):
    closest = []
    for user_name, _ in sorted_sim:
        if k == len(closest):
            return closest
        if data[film_name][user_name] != -1:
            closest.append(user_name)
    return closest

In [12]:
# получить среднюю оценку пользователя
def get_avg(u_name = user_name, data = data):
    return np.average(for_user(u_name, data))

In [13]:
# r_ui пользователя u и фильма i
def calc_rate(film_name, u_name = user_name, sim = sim, data = data):
    u_avg = get_avg(u_name, data)
    
    sum_top = 0
    closest_for_film = get_k_closest_for_film(film_name)
    for v_name in closest_for_film:
        r_vi = for_user(v_name)[film_name]
        if v_name != u_name and r_vi != -1:
            r_v = get_avg(v_name)
            sum_top += sim[v_name] * (r_vi - r_v)
    
    sum_bottom = np.sum([sim[v_name] for v_name in closest_for_film if v_name != u_name])
    
    return u_avg + sum_top / sum_bottom

In [14]:
user_rates = for_user()
predicted_rates = user_rates.copy()
for film_name in films_names:
    if predicted_rates[film_name] < 0:
        predicted_rates[film_name] = calc_rate(film_name)

print(list(user_rates))
print(list(predicted_rates))
# [print(str(for_user()[i]) + "\t->\t" + str(predicted_rates[i])) for i in range(5) ]

[1.0, -1.0, 5.0, -1.0, 1.0, 2.0, 3.0, -1.0, 2.0, 5.0, 3.0, 1.0, 5.0, -1.0, -1.0, 4.0, 1.0, 4.0, 3.0, 4.0, 4.0, 2.0, 5.0, 2.0, 3.0, 1.0, 2.0, 1.0, 2.0, 1.0]
[1.0, 3.321164804659899, 5.0, 3.031946776908751, 1.0, 2.0, 3.0, 1.4323080527497951, 2.0, 5.0, 3.0, 1.0, 5.0, 3.15408987093391, 3.4187522053660646, 4.0, 1.0, 4.0, 3.0, 4.0, 4.0, 2.0, 5.0, 2.0, 3.0, 1.0, 2.0, 1.0, 2.0, 1.0]

In [16]:
for film_name, rating in user_rates.items():
    if rating < 0:
        print(f"{film_name}\tpredicted: {round(predicted_rates[film_name], 3)}\t{movie_names[film_name.strip()]}")

 Movie 2	predicted:3.321	 The Godfather
 Movie 4	predicted:3.032	 The Dark Knight
 Movie 8	predicted:1.432	 Pulp Fiction
 Movie 14	predicted:3.154	 Inception
 Movie 15	predicted:3.419	 The Lord of the Rings: The Two Towers

## Задание 2. 
Порекомендовать заданному пользователю 1 фильм, который он посмотрел бы в выходной дома, если такой фильм есть в данных.